<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FLEX | SHOP</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/search.css">
    <link rel="stylesheet" href="css/cart.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>
</head>

<body id='body_id'>
    <div id="topContactID">
        <div id="login_nav">
            <a>LOGIN/REGISTER</a>
        </div>
    </div>

    <nav id="navbarID">
        <div id="logoID" class="logo">
            <a href="index.html">FLEX</a>
        </div>
        <ul class=" nav-link" id="nav_linkID">
            <li><a href="index.html">HOME</a></li>
            <li><a href="shop.html">SHOP</a></li>
            <li><a onclick="openCart()">CART</a></li>
        </ul>
        <div id="searchID" class="searchClass">
            <a onclick="openNav()"><i class="material-icons">search</i></a>

        </div>
    </nav>

    <!--OVERLAYS-->
    <section class="SEARCH">
        <div class="overlay" id="overlayID">
            <div id="searchOverlay" class="search_overlay">
                Search
            </div>
            <a href="javascript:void(0)" class="closebtn" id='closebtnID' onclick="closeNav()">&times;</a>
            <input id="searchBarID" type="text" value="SEARCH" onclick="func_search()">
        </div>
    </section>
    <section class="CART">
        <div class="cart-overlay" id="cart-overlayID">
            <div class="cartNav" id='cartNavID'>
                <div id="cartOverlay" class="cart_overlay">
                    Cart
                </div>
                <a href="javascript:void(0)" class="closebtn2" id='closebtnID2' onclick="closeCart()">&times;</a>
            </div>
            <div class="overlay_container">
                <section class="container content-section">
                    <div class="cart-row">
                        <span class="cart-item cart-header cart-column">ITEM/s</span>
                        <span class="cart-price cart-header cart-column">PRICE</span>
                        <span class="cart-quantity cart-header cart-column">QUANTITY</span>
                    </div>
                    <div class="cart-items">
                    </div>
                </section>
            </div>
            <div class="cart-total">
                <strong class="cart-total-title">Total:</strong>
                <span class="cart-total-price">₱0</span>
            </div>
            <div class="order btn-primary" id="orderID">PURCHASE</div>
        </div>
    </section>
    <!--END-->

    <section class="main_body" id="main_bodyID">
        <h2 class="section-header">CLOTHES</h2>
        <div class="shop-items">
            <% items.clothes.forEach(function (item){ %>
            <div class="shop-item" data-item-id="<%= item.id %>">
                <span class="shop-item-title"><%= item.name %></span>
                <img class="shop-item-image" src="images/<%= item.imgName %>">
                <div class="shop-item-details">
                    <span class="shop-item-price">₱<%= item.price/100 %>.00</span>
                    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                </div>
            </div>
            <% }) %>
        </div>
    </section>

    <div class="goTop" id='goTopID' onclick="goTopBTN()">
        ^
    </div>

    <footer>footer

    </footer>

    <script src="http://checkout.stripe.com/checkout.js" defer></script>
    <script src="js/shop.js" defer></script>
    <script src="js/app.js"></script>
    <script src="js/search.js"></script>
    <script>
        var stripePublicKey = '<%= stripePublicKey %>'
    </script>
</body>

</html>